{% extends "base/base.html" %}

{% block start %}
    <div class="container">
        <div class="mainimage">
            <div class="imagecar">
                
                <div class="slideshow-container">
                    {% for image in phoneobj.phone_images.all %}
                        <div class="mySlides">
                            <div class="numbertext">1 / 3</div>
                            <img src="/media/{{image.image}}" style="width:100%">
                            <div class="text"></div>
                        </div>
                    {% endfor %}
                    
                    <a class="prev" onclick="plusSlides(-1)">❮</a>
                    <a class="next" onclick="plusSlides(1)">❯</a>
                    
                    </div>
                    <br> 
                    
                    <div class="d-flex justify-content-evenly">
                        {% for color in colors %}
                            <input id="{{color}}"  type="radio" name="phone_color" onchange="oncolorchange('{{color}}')" {% if selected_color == color %} checked {% endif %}  value="{{color}}" id="">
                            <label for="{{color}}">{{color}}</label>
                        {% endfor %}
                    </div>
                </div>

           
        </div>
        <div class="maindetail">
            <h1>{{phoneobj.phone_name}}</h1>
            <h5><strong>Sold By {{phoneobj.brand}}</strong></h5>
            <h4>
                {% if updated_price %}
                &#8377; {{updated_price}}
                {% else %}
                &#8377; {{phoneobj.original_price}}
                {% endif %}
          
            </h4>
            <!-- <h4>&#8377; {{phoneobj.original_price}}</h4> -->
            <!-- <p>About : </p> -->
            <p><strong>
                About : </br>Display : </strong>{{phoneobj.display.display_size}} {{phoneobj.display.display_name}} {{phoneobj.display.resolution_x}} x {{phoneobj.display.resolution_y}}<br>
            
            {% if phoneobj.display.pixel_per_inch %}
                {{phoneobj.display.pixel_per_inch}}
            {% endif %}
            {% if phoneobj.display.hz %}
                Refresh Rate : {{phoneobj.display.hz}}Hz 
            {% endif %}
            {% if phoneobj.display.touch_response %}
                Touch Response : {{phoneobj.display.touch_response}}Hz
            {% endif %}
            {% if phoneobj.display.color_depth %}
                Color Depth : {{phoneobj.display.color_depth}}
            {% endif %}
            {% if phoneobj.display.brightness %}
                Brightness : {{phoneobj.display.brightness}}
            {% endif %}
            </p>
            <p><strong>CPU : </strong>{{phoneobj.cpu.cpu_name}}
                {% if phoneobj.cpu.cpu_speed %}
                    speed {{phoneobj.cpu.cpu_speed}} Ghz
                {% endif %}
            </p>
            
            <p><strong>Camera : </strong>
                {% for camera in phoneobj.camera.all %}
                    {{camera.camera_megapixel}} Mp {{camera.camera_name}},
                {% endfor %}
            </p>


            <p><strong>Battery : </strong>{{phoneobj.battery.capacity}} Mah Charging speed : {{phoneobj.battery.charging_speed}} W
            </p>
            <div class="d-flex justify-content-around">
                {% for storage in phoneobj.ram_rom.all %}
                    <div class="storage">
                        <input type="radio" name="{{storage.ram_size}}" {% if storage.ram_size == selected_ram and storage.rom_size == selected_rom %} checked {% endif %} onchange="onstoragechange('{{storage.ram_size}}','{{storage.rom_size}}')" id="{{storage.ram_size}}">
                        <label for="{{storage.ram_size}}">{{storage.ram_size}} + {{storage.rom_size}}</label>
                    </div>
                {% endfor %}
               
            </div>
            <p><strong>Quantity :  </strong>
            </p>
            
        </div>
    </div>

    <script>
        let slideIndex = 1;
        showSlides(slideIndex);
        
        function plusSlides(n) {
          showSlides(slideIndex += n);
        }
        
        function currentSlide(n) {
          showSlides(slideIndex = n);
        }
        
        function showSlides(n) {
          let i;
          let slides = document.getElementsByClassName("mySlides");
          let dots = document.getElementsByClassName("dot");
          if (n > slides.length) {slideIndex = 1}    
          if (n < 1) {slideIndex = slides.length}
          for (i = 0; i < slides.length; i++) {
            slides[i].style.display = "none";  
          }
          for (i = 0; i < dots.length; i++) {
            dots[i].className = dots[i].className.replace(" active", "");
          }
          slides[slideIndex-1].style.display = "block";  
          dots[slideIndex-1].className += " active";
        }


        function oncolorchange(color){
            let currentUrl = new URL(window.location.href);

            // Set the 'color' parameter in the URL
            currentUrl.searchParams.set('color', color);
            console.log(currentUrl);
            // Change the browser URL without refreshing
            window.location.replace(currentUrl.href)
            // window.history.pushState({}, '', currentUrl);

            console.log('Color changed to:', color);
            
            
        }

        function onstoragechange(ram,rom){
            let currentUrl = new URL(window.location.href);

            // Set the 'ram' and 'rom' parameters in the URL
            currentUrl.searchParams.set('ram', ram);
            currentUrl.searchParams.set('rom', rom);
            console.log(currentUrl);
            // Change the browser URL without refreshing
            window.location.replace(currentUrl.href)
            // window.history.pushState({}, '', currentUrl);

            console.log('Storage changed to:', ram + ' RAM, ' + rom + ' ROM');
            
        }
    </script>
{% endblock %}