{% extends "base/base.html" %}

{% block start %}
    <div class="container">
        <div class="mainimage">
            <div class="imagecar">
                
                <div class="slideshow-container">
                    {% if updated_images %}
                        {% for image in updated_images %}
                            <div class="mySlides">
                                <div class="numbertext">1 / 3</div>
                                <img src="/media/{{image.image}}" style="width:100%">
                                <div class="text"></div>
                            </div>
                        {% endfor %}
                    {% else %}
                        {% for image in phoneobj.phone_images.all %}
                            <div class="mySlides">
                                <div class="numbertext">1 / 3</div>
                                <img src="/media/{{image.image}}" style="width:100%">
                                <div class="text"></div>
                            </div>
                        {% endfor %}

                    {% endif %}
                    
                    
                    <a class="prev" onclick="plusSlides(-1)">❮</a>
                    <a class="next" onclick="plusSlides(1)">❯</a>
                    
                    </div>
                    <br> 
                    
                    <div class="d-flex justify-content-evenly">
                        {% for color in colors %}
                            <input id="{{color}}"  type="radio" name="phone_color" onchange="oncolorchange('{{color}}')" {% if selected_color == color %} checked {% endif %}  value="{{color}}" id="">
                            <label for="{{color}}">{{color}}</label>
                        {% endfor %}
                    </div>
                </div>

           
        </div>
        <div class="maindetail">
            <h1>{{phoneobj.phone_name}}</h1>
            <h5><strong>Sold By {{phoneobj.brand}}</strong></h5>
            <h4>
                {% if updated_price %}
                &#8377; {{updated_price}}
                {% else %}
                &#8377; {{phoneobj.original_price}}
                {% endif %}
          
            </h4>
            <!-- <h4>&#8377; {{phoneobj.original_price}}</h4> -->
            <!-- <p>About : </p> -->
            <p><strong>
                About : </br>Display : </strong>{{phoneobj.display.display_size}} {{phoneobj.display.display_name}} {{phoneobj.display.resolution_x}} x {{phoneobj.display.resolution_y}}<br>
            
            {% if phoneobj.display.pixel_per_inch %}
                {{phoneobj.display.pixel_per_inch}}
            {% endif %}
            {% if phoneobj.display.hz %}
                Refresh Rate : {{phoneobj.display.hz}}Hz 
            {% endif %}
            {% if phoneobj.display.touch_response %}
                Touch Response : {{phoneobj.display.touch_response}}Hz
            {% endif %}
            {% if phoneobj.display.color_depth %}
                Color Depth : {{phoneobj.display.color_depth}}
            {% endif %}
            {% if phoneobj.display.brightness %}
                Brightness : {{phoneobj.display.brightness}}
            {% endif %}
            </p>
            <p><strong>CPU : </strong>{{phoneobj.cpu.cpu_name}}
                {% if phoneobj.cpu.cpu_speed %}
                    speed {{phoneobj.cpu.cpu_speed}} Ghz
                {% endif %}
            </p>
            
            <p><strong>Camera : </strong>
                {% for camera in phoneobj.camera.all %}
                    {{camera.camera_megapixel}} Mp {{camera.camera_name}},
                {% endfor %}
            </p>


            <p><strong>Battery : </strong>{{phoneobj.battery.capacity}} Mah Charging speed : {{phoneobj.battery.charging_speed}} W
            </p>
            <div class="d-flex justify-content-around">
                {% for storage in phoneobj.ram_rom.all %}
                    <div class="storage">
                        <input type="radio" name="{{storage.ram_size}}" {% if storage.ram_size == selected_ram and storage.rom_size == selected_rom %} checked {% endif %} onchange="onstoragechange('{{storage.ram_size}}','{{storage.rom_size}}')" id="{{storage.ram_size}}">
                        <label for="{{storage.ram_size}}">{{storage.ram_size}} + {{storage.rom_size}}</label>
                    </div>
                {% endfor %}
               
            </div>
            <div class="qunt">
                <div class="form-row">
                    <div class="form-group col-md flex-grow-0">
                        <label><strong>Quantity : </strong></label>
                        <div class="input-group mb-3 input-spinner">
                          <div class="input-group-prepend">
                            <button class="btn btn-light" type="button" id="button-minus" onclick="onminusclick()"> − </button>
                            
                          </div>
                          <input type="text" id="quntity" class="form-control" value="1">
                          <div class="input-group-append">
                            <button class="btn btn-light" type="button" id="button-plus" onclick="onplusclick()"> + </button>
                          </div>
                        </div>
                    </div>
            </div>
            {% if user.is_authenticated %}
                <div class="d-flex justify-content-evenly cart">
                    <input type="button" value="Add to Cart" onclick="addtocart('{{phoneobj.slug}}')" class="btn btn-outline-primary">
                    <input type="button" value="Buy" class="btn btn-success">
                    
                </div>
                {% if msg %}
                <h6>{{msg}}</h6>
                {% endif %}
            {% else %}
                <div class="d-flex justify-content-evenly cart">
                    <!-- <input type="button" value="Add to Cart" class="btn btn-outline-primary">
                    <input type="button" value="Buy" class="btn btn-success"> -->
                    <h5>You need to login to add or buy this item</h5>
                </div>
            {% endif %}
            </p>
            
        </div>
    </div>

    <script>
        let slideIndex = 1;
        showSlides(slideIndex);
        
        function plusSlides(n) {
          showSlides(slideIndex += n);
        }
        
        function currentSlide(n) {
          showSlides(slideIndex = n);
        }
        
        function showSlides(n) {
          let i;
          let slides = document.getElementsByClassName("mySlides");
          let dots = document.getElementsByClassName("dot");
          if (n > slides.length) {slideIndex = 1}    
          if (n < 1) {slideIndex = slides.length}
          for (i = 0; i < slides.length; i++) {
            slides[i].style.display = "none";  
          }
          for (i = 0; i < dots.length; i++) {
            dots[i].className = dots[i].className.replace(" active", "");
          }
          slides[slideIndex-1].style.display = "block";  
          dots[slideIndex-1].className += " active";
        }


        function oncolorchange(color){
            let currentUrl = new URL(window.location.href);
            currentUrl.searchParams.set('color', color);
            console.log(currentUrl);
            window.location.replace(currentUrl.href)
            console.log('Color changed to:', color);
        }

        function onstoragechange(ram,rom){
            let currentUrl = new URL(window.location.href);
            currentUrl.searchParams.set('ram', ram);
            currentUrl.searchParams.set('rom', rom);
            console.log(currentUrl);
            window.location.replace(currentUrl.href)
            console.log('Storage changed to:', ram + ' RAM, ' + rom + ' ROM');
        }

        function addtocart(slug){
            var quantity = document.getElementById('quntity')
            let currentUrl = new URL(window.location.href);
            currentUrl.searchParams.set('quntity', quantity.value);
            console.log('slug'+slug)
            console.log(currentUrl);
            console.log('full url : '+'/add/'+slug+currentUrl.search)
            window.location.replace(currentUrl.href)
        }

        function onplusclick(){
            var quantity = document.getElementById('quntity')
            console.log(quantity.value);
            if(quantity.value<10){
                quantity.value = parseInt(quantity.value)+1
            }
        }

        function onminusclick(){
            var quantity = document.getElementById('quntity')
            console.log(quantity.value);
            if(parseInt(quantity.value)===1){
                
            }else{
                quantity.value = parseInt(quantity.value)-1
            }
        }
    </script>
{% endblock %}