{% comment %} {% extends "base/base.html" %} {% endcomment %}

{% block start %}
    <div class="carousel">

          
        
          {% for phone in phones %}
          <div class="sm-car">
            <img class="imgs" src="/media/{{phone.phone_images.first.image}}" >
            <a class="anchor" href="/phone/{{phone.slug}}/" >{{phone.phone_name|slice:"43"}}...</a>
            <p class="price" >Starts From &#8377; {{phone.original_price}}</p>
            </div>

 
          {% endfor %}

       
        
    </div>
    


   
   


{% endblock %}
